<html>
	<head>
		<title>M3D</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
	</head>
	<body>
		<div class="container row-fluid">
			<div class="span12" style="height: 500px; min-width: 100%; background:url('/static/img/mountain.jpg'); text-align: center;">
				<br>
				<h1>ME-MED</h1>
				<img src='/static/img/leaf.png'></img>
				<h3>A Patient Centric Medical Community</h3>
				<p>A place for patients to discuss, compare, and share tips about their experiences managing chronic disease.</p>
				<br><br>
				<p><i>“Every mountain top is within reach if you just keep climbing.” ― Barry Finlay, Kilimanjaro and Beyond</i></p>
			</div>
		</div>
		<div class="container row-fluid">
			<div class="span4" style="position: relative; height: 100px; background:#66CC33; text-align: center;">
				<br>
				<h1>Register</h1>
			</div>
			<div class="span4" style="position: relative; height: 100px; background:#FFCC33; text-align: center;">
				<br>
				<h1>Explore</h1>
			</div>
			<div class="span4" style="position: relative; height: 100px; background:#33CCFF; text-align: center;">
				<br>
				<h1>Log in</h1>
			</div>
		</div>
		<!-- <div class="container row-fluid" style="height:16px;">
			<div class="span4"></div>
			<div class="span4" style="background:66CC66;"></div>
			<div class="span4"></div>
		</div> -->
		<div class="container row-fluid" style="background:#FFCC33; height:400px;">
			<div class="span1"></div>
			<div class="span4" style="position:relative; top:25px; background:#B0B0B0; border-radius: 5px; height: 100px;;">
				<h2 style="position: relative; left:15px;">Epilepsy</h2>

			</div>
			

			<div class="span2"></div>
		</div>
	</body>
</html>


<!-- <div class="span10" style="position: relative; background:url('/static/img/board.jpg'); height:350px; top:20px;"> </div>-->