<html>
	<head>
		<title>Sophopolis</title>
		<meta charset="utf-8"

		<!-- STYLESHEETS  -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
	    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800,900,500,600,300,200' rel='stylesheet' type='text/css'>
	    <!-- SCRIPTS -->
		<script language="javascript">
			function click(){ 
				alert('I click!');}</script>
	</head>
	
	<body>
		<header>
			<div class="container">
				<div id="name"><h1 class="main-name"><a href="http://www.google.com">Patient Centric Collaborative Research</a></h1>
				</div>
			</div>
		</header>
		<section id="intro">
			<h1>Connecting Patients, Providers, and Researchers using innovative social media mining techniques to match studies and participants.</h1>
  			<a class="more" href="#profile">
  				<h5>More</h5>
  			</a>
				<section id="project-list">
					<div class="container" role="container">
						<!-- Living Shade -->
						<a class="living-shade" href="/projects/living-shade/">
							<div class="project-image"><img src="/static/img/leaf.png" alt="Living Shade"></div>
							<h3>Patients</h3>
						</a>
						<!-- Outdoor Light -->
						<a class="l-series" href="/projects/outdoor-light/">
							<div class="project-image"><img src="/static/img/outside-light.png" alt="Outdoor Light"></div>
							<h3>Researchers</h3>	
						</a>
						<!-- Kitchen System -->
						<!-- <a class="kitchen-system" href="/projects/kitchen-system/">
							<div class="project-image"><img src="/static/img/knife.png" alt="Kitchen System"></div>
							<h3>Researchers</h3> 
						</a> -->
						<!-- Hydropod -->
						<a class="hydropod" href="/projects/attention-seeking-hydropod/">
							<div class="project-image"><img src="/static/img/plant.png" alt="Hydropod"></div>
							<h3>Providers</h3>	
						</a>
						<!-- L-Series Lights -->
						<a class="outdoor-light" href="/projects/l-series-lights/">
							<div class="project-image"><img src="/static/img/bulb.png" alt="L-Series Lights"></div>
							<h3>Insights</h3>
						</a>
						<!-- Notebook -->
						<!-- <a class="assorted" href="/projects/notebook/">
							<div class="project-image"><img src="/static/img/more.png" alt="More Projects"></div>
							<h3>Notebook</h3>
						</a> -->	
					</div>
				</section>
		</section>			
		<footer style="text-align:center">&copy; Sophia Cao</footer>
	</body>
</html>